<p-toast></p-toast>
<app-spinner></app-spinner>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="col-12">
                <p-menubar [model]="itemsMenuOptions"></p-menubar>
            </div>
            <!-- data exported to excel -->
            <p-table
                #dt
                [value]="usuarios"
                responsiveLayout="scroll"
                [globalFilterFields]="['cl_nombre', 'cl_telefono', 'cl_correo', 'cl_nombre_contacto']"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="numeracion"
                styleClass="p-datatable-sm"
            >
                <ng-template pTemplate="caption">
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                    </span>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="text-sm">
                        <th pSortableColumn="numeracion">No<p-sortIcon field="numeracion"></p-sortIcon></th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Nombre de Contacto</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario >
                    <tr class="text-sm" >
                        <td style="width:5%; min-width:5rem;">
                            {{ usuario.numeracion }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ usuario.cl_nombre }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{ usuario.cl_telefono }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ usuario.cl_correo}}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ usuario.cl_nombre_contacto}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <div class="flex align-items-center justify-content-center">
                                <button *appRolesPermisosHtml="'upd'" [style]="{height:'25px', width:'25px'}" pButton icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="openAddUpdateDialog(true, usuario, false)" pTooltip="Modificar"></button>
                                <button *appRolesPermisosHtml="'del'" [style]="{height:'25px', width:'25px'}" pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="openAddUpdateDialog(false, usuario, true)" pTooltip="Eliminar"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <!--DIALOG DE AGREGAR-->
            <p-dialog [(visible)]="dialogAdd" [closable]="false" [style]="{width: '450px'}" [modal]="true" class="p-fluid">
                <p-header>
                    <span>{{banAddUpdate ? 'Modificar ' : 'Agregar '}} Cliente</span>
                </p-header>
                <ng-template pTemplate="content">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-6">
                            <label>Nombre</label>
                            <input
                                type="text"
                                placeholder="Nombre" pInputText
                                [(ngModel)]="form_model_nombre"
                                required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form_model_nombre}"
                            />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !form_model_nombre">Campo requerido.</small>
                        </div>
                        <div class="field col-6">
                            <label>Ingresa Telefono</label>
                            <p-inputNumber
                                mode="decimal" [useGrouping]="false"
                                [(ngModel)]="form_model_telefono"
                            >
                            </p-inputNumber>
                        </div>
                        <div class="field col-6">
                            <label>Correo</label>
                            <input
                                type="text" placeholder="Correo"
                                pInputText
                                [(ngModel)]="form_model_correo"
                            />
                        </div>
                        <div class="field col-6">
                            <label>Nombre Contacto</label>
                            <input
                                type="text"
                                placeholder="Nombre Contacto" pInputText
                                [(ngModel)]="form_model_nombre_contacto"
                            />
                        </div>
                        <div *ngIf="!banAddUpdate" class="field col-6">
                            <label>Logo</label>
                            <input
                                type="text"
                                placeholder="Logo" pInputText
                                [(ngModel)]="form_model_logo"
                            />
                        </div>
                        <div *ngIf="!banAddUpdate" class="field col-6">
                            <label>Color Primario</label>
                            <input
                                type="text"
                                placeholder="Color Primario" pInputText
                                [(ngModel)]="form_model_color_primario"
                            />
                        </div>
                        <div *ngIf="!banAddUpdate" class="field col-6">
                            <label>Color Secundario</label>
                            <input
                                type="text"
                                placeholder="Color Secundario" pInputText
                                [(ngModel)]="form_model_color_secundario"
                            />
                        </div>
                        <div *ngIf="!banAddUpdate" class="field col-6">
                            <label>Color Auxiliar</label>
                            <input
                                type="text"
                                placeholder="Color Auxiliar" pInputText
                                [(ngModel)]="form_model_color_auxiliar"
                            />
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger " (click)="clean()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-primary "  (click)="saveUser(false)"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>
