<p-toast></p-toast>
<app-spinner></app-spinner>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="col-12">
                <p-menubar [model]="itemsMenuOptions"></p-menubar>
            </div>
            <!-- data exported to excel -->
            <p-table
                #dt
                [value]="usuarios"
                responsiveLayout="scroll"
                [globalFilterFields]="['op_nombre', 'op_correo', 'op_telefono']"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="numeracion"
                styleClass="p-datatable-sm"
            >
                <ng-template pTemplate="caption">
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                    </span>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="text-sm">
                        <th pSortableColumn="numeracion">No<p-sortIcon field="numeracion"></p-sortIcon></th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario >
                    <tr class="text-sm" >
                        <td style="width:5%; min-width:5rem;">
                            {{ usuario.numeracion }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ usuario.op_nombre }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{ usuario.op_correo == 'NULL' ? '' : usuario.op_correo }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ usuario.op_telefono }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <div class="flex align-items-center justify-content-center">
                                <button *appRolesPermisosHtml="'upd'" [style]="{height:'25px', width:'25px'}" pButton icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="openAddUpdateDialog(true, usuario, false)" pTooltip="Modificar"></button>
                                <button *appRolesPermisosHtml="'del'" [style]="{height:'25px', width:'25px'}" pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="openAddUpdateDialog(false, usuario, true)" pTooltip="Eliminar"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <!--DIALOG DE AGREGAR-->
            <p-dialog [(visible)]="dialogAdd" [closable]="false" [style]="{width: '450px'}" [modal]="true" class="p-fluid">
                <p-header>
                    <span>{{banAddUpdate ? 'Modificar ' : 'Agregar '}} Operador</span>
                </p-header>
                <ng-template pTemplate="content">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12">
                            <label>Nombre</label>
                            <input
                                type="text"
                                placeholder="Nombre" pInputText
                                [(ngModel)]="form_model_nombre"
                                required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form_model_nombre}"
                            />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !form_model_nombre">Campo requerido.</small>
                        </div>
                        <div class="field {{banAddUpdate ? 'col-12' : 'col-6'}} ">
                            <label>Usuario</label>
                            <input
                                type="text"
                                placeholder="Usuario" pInputText
                                [(ngModel)]="form_model_usuario"
                                required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form_model_usuario}"
                            />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !form_model_usuario">Campo requerido.</small>
                        </div>
                        <div class="field col-6 " *ngIf="!banAddUpdate">
                            <label>Contraseña</label>
                            <input
                                type="text" placeholder="Contraseña"
                                pInputText
                                [(ngModel)]="form_model_password"
                                required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form_model_password}"
                            />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !form_model_password">Campo requerido.</small>
                        </div>
                        <div *ngIf="banAddUpdate" class="field {{banAddUpdate ? 'col-6' : 'col-12'}}">
                            <label >Campaña</label>
                            <p-dropdown
                                appendTo="body"
                                placeholder="Seleccione una opción"
                                [(ngModel)]="form_model_campania"
                                [options]="form_model_options_campania"
                                optionLabel="ca_nombre"
                                optionValue="ca_id"
                                required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form_model_campania}"
                            >
                            </p-dropdown>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !form_model_campania">Campo requerido.</small>
                        </div>
                        <div class="field {{banAddUpdate ? 'col-6' : 'col-12'}} ">
                            <label>Ingresa Telefono</label>
                            <p-inputNumber
                                mode="decimal" [useGrouping]="false"
                                [(ngModel)]="form_model_telefono"
                                required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form_model_telefono}"
                            >
                            </p-inputNumber>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !form_model_telefono">Campo requerido.</small>
                        </div>
                        <div class="field col-12">
                            <label>Correo</label>
                            <input
                                type="text" placeholder="Correo"
                                pInputText
                                [(ngModel)]="form_model_correo"
                            />
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger " (click)="clean()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-primary "  (click)="saveUser(false)"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="usuario">¿Desea eliminar a {{usuario.op_nombre}}?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton icon="pi pi-times" class="p-button-danger p-button-sm" label="No" (click)="clean()"></button>
                    <button pButton icon="pi pi-check" class="p-button-primary p-button-sm" label="Sí" (click)="saveUser(true)"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>
