<div class="layout-topbar">
    <div>
        <a class="p-link layout-menu-button layout-topbar-button mr-3" href="#" (click)="appMain.toggleMenu($event)">
            <i class="pi pi-bars"></i>
        </a>
    </div>
    <a class="layout-topbar-logo">
        <span> Sistema Administrativo</span>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>
    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <div class="row">
            <label pButton class="mr-2">
                <i class="pi pi-user"></i>
                <div class="mx-2">
                    <label>{{usuario}}</label>
                </div>
            </label>
        </div>
        <button pButton class="mr-2" icon="pi pi-sign-out" pTooltip="Cerrar sesión" tooltipPosition="bottom" (click)="cerrarSession()"></button>
    </div>
</div>
