<p-toast></p-toast>
<app-spinner></app-spinner>
<div>
    <div class="grid" style="margin: 5em 3em 3em 10em; width: 80%;">
        <div class="col-12 md:col-8" style="padding: 0rem!important;">
            <img src="assets/layout/images/inicio.jpg" class="imagen-login-m" style="border-radius: 2em 0em 0em 2em;" alt="Image" width="100%" height="100%">
        </div>
        <div class="col-12 md:col-4" style="padding: 0rem!important;">
            <div class="h-full w-full m-0 py-7 px-4" id="segundo-div-phone" style="border-radius: 0em 2em 2em 0em; background: var(--surface-0); ">
                <div class="text-center">
                    <div class="text-100 text-3xl font-medium mb-3">Bienvenido</div>
                </div>
                <br>
                <br>
                <div class="w-full md:w-10 mx-auto ">
                    <label class="block text-100 text-xl font-medium mb-2">Usuario</label>
                    <input type="text" placeholder="Usuario"
                            [(ngModel)]="user"  pInputText class="w-full mb-3" style="padding:1rem;"
                            required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user}">
                    <small class="ng-dirty ng-invalid text-100" *ngIf="submitted && !user">Campo Usuario Requerido</small>

                  <label class="block text-100 font-medium text-xl mb-2">Contraseña</label>
                    <p-password [(ngModel)]="password" [feedback]="false" placeholder="Contraseña" styleClass="w-full mb-3"
                    required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !password}"></p-password>
                    <small class="ng-dirty ng-invalid text-100" *ngIf="submitted && !password">Campo Contraseña Requerido</small>
                    <br>
                <br>
                    <button pButton pRipple style="background-color: var(--hover-seleccion-drawer)!important;"
                            (click)="dialogCodigo = true"
                            label="Iniciar Sesion" class="w-full p-3 text-xl flex align-items-center justify-content-center">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- DIALOG DE VERIFICACION DE CODIGO -->
    <p-dialog [(visible)]="dialogCodigo" [closable]="false" [style]="{width: '350px'}" [modal]="true" [draggable]="false" class="p-fluid">
        <p-header>
            <i class="pi pi-lock mx-2 font-bold"></i>
            <span>Validar</span>
        </p-header>
        <ng-template pTemplate="content">
            <div class="p-fluid" >
                <div class="field col-12" >
                    <label>Ingresa tu Codigo</label>
                    <input type="number" pInputText [(ngModel)]="form_codigo" placeholder="ingrese codigo" >
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton label="Validar" icon="pi pi-lock" class="p-button-primary" (click)="dialogCodigo = false"></button>
        </ng-template>
    </p-dialog>
     <!-- DIALOG DE VERIFICACION DE CODIGO -->
</div>
